<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>De Todo un Poco</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
</head>

<body>

    <!-- Navigation -->
    <div class="navbar-header navbar-nav navbar-right">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Solemne</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#portfolio">Categorias</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                        <a href=""class="container">Inicio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#home">Inicio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Categorias</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
      <!-- /.container-fluid -->
        <div class="container">
                <div class="navbar-header navbar-nav navbar-right">
                    <form class="form-group">
                        
                        <input type="text" class="form-control" placeholder="Buscar..">
                        
                    </form>
                </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="container">
        <div class="row">

            <!-- Comienzo Aside -->
            <aside class="col-md-3 hidden-xs">
                <h4>Filtrar por:</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item">Tecnología</a>
                    <a href="#" class="list-group-item">ReposterÍa</a>
                    <a href="#" class="list-group-item">Entretención</a>
                    <a href="#" class="list-group-item">Deco Hogar</a>
                    <a href="#" class="list-group-item">Seguridad</a>
                    <a href="#" class="list-group-item">Mundo Acuatico</a>
                </div>
            </aside>
    </header>
<!-- Contenedor Section -->
    <section class="container">

        <div class="row">

        

            <article class="col-md-9">

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>

                       </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                           <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">Gratis</h4>
                            <h4><a href="Productos.html">Producto</a></h4>
                            <a href="" data-toggle="modal" data-target="#Login">
                                <buttom  class="btn btn-primary btn-sm"> Añadir al carro
                                </buttom>
                            </a>
                                
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </section>
    <!-- Fin Contenedor Section -->